::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #3f3f40;
}

::-webkit-scrollbar-thumb:hover {
    background: #555
}